body {
	margin: 0;
	padding: 0;
}
 a.navbar-brand span:first-child {
	color: #207561;
	font-size: 2em;
	font-weight: bold;
}

a.navbar-brand span:nth-child(2) {
	color: #da4302;
}

a.navbar-brand span:first-child:hover {
	color: #da4302;
}


 #title {
	background-color: #d4d7dd;
	color: #fff;
	background-image: url("../images/pizza4.jpg");
	background-size: cover;
	height: 100vh;
	background-position: center center;
	background-attachment: fixed;
}
.container-fluid {
	padding: 3% 15% 7%;
}


 .navbar {
	padding: 0 0 4.5rem;
}

 .navbar-brand {
	margin-left: 10%;
	font-family: "Ubuntu";
	font-size: 3.5rem;
	font-weight: bold;
	text-shadow: 3px 2px 3px black;
	background-position: center center;
}

.nav-item {
	padding: 0 10px;
}

 .nav-link {

	font-size: 1.8rem;
	font-family: 'Ubuntu', sans-serif;
	color: #ffff !important;
	text-shadow: 3px 2px 3px black;
}

.navbar-nav {
	margin-right: 40% !important;
}

 section {
	width: 100%;
	height: 100vh;
}

.sec1 {
	background-image: url("../images/pizza3.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

 .sec2 {
	background-image: url("../images/pizza2.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.sec3 {
	background-image: url("../images/pizza1.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.sec4 {
	background-image: url("../images/pizza5.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.secText {
	padding: 50px 100px;
	height: auto;
}

.secText h1 {
	margin: 0;
	padding-bottom: 3%;
	font-size: 48px;
	color: #262626;
		font-family: 'Ubuntu', sans-serif;

}
.secText p
{
	font-family: "Montserrat-light";
font-size: 2em;
}
.row
{
	height: 200px;
}

 .container {
	height: 500px;
}

.container img {
	height: 30%;
	padding: 0 100px !important;
	margin-top: 20%;
	position: relative;
	margin-right: 30%;


}
 .Orders
{
	margin-top: 5%;
}

.container h1
{
	text-align: center;
	justify-content: center;
	color: black;
	margin-top: 5%;
	font-family: "Ubuntu";
}
.container h5
{
	text-align: center;
	justify-content: center;
	margin-left: 40%;
	margin-top: 2%;
}

 .social-menu ul
{
position: absolute;
margin-top: 100%;
left: 50%;
padding: 0;
margin: 0;
transform: translate(-50%,-50%);
display: flex;

}
 .social-menu ul li
{
	list-style: none;
	margin: 0 15px;

}
 .fab
{
	font-size: 30px;
	line-height: 60px;
	transition: .6s;
	color: #0000 !important;
	margin-bottom: 10%;
}
.social-menu ul li a
{
	position: relative;
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #ffff;


}


  #bounce {
	animation: bounce 3s infinite;
	padding-top:20%;
	color: #e23e57;
}

@keyframes bounce {

	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-55px);
	}

	60% {
		transform: translateY(-45px);
	}
}
